body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    color: #111;
}


/* HEADER */

header {
    background: #0b0b0b;
    color: white;
    padding: 25px;
    text-align: center;
}


header h1 {
    font-size: 35px;
}


nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}


nav a:hover {
    color: #d4af37;
}


/* SEARCH BAR */

#search {

    width: 70%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;

}



/* HERO SECTION */

.hero {

    background: linear-gradient(
    rgba(0,0,0,.6),
    rgba(0,0,0,.6)
    ),
    url("images/soccer-background.jpg");

    background-size: cover;
    background-position: center;

    color:white;

    padding:100px 20px;

    text-align:center;

}


.hero h2 {

    font-size:50px;

}


.hero p {

    font-size:22px;

}


/* BUTTONS */

button {

    background:#d4af37;

    color:black;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

}


button:hover {

    background:#b8962e;

}



/* TITLES */

.title {

    text-align:center;

    font-size:32px;

    margin:40px;

}



/* PRODUCT GRID */

.products {

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:25px;

    padding:20px;

}



/* PRODUCT CARDS */

.card {

    background:white;

    width:280px;

    padding:20px;

    border-radius:15px;

    text-align:center;

    box-shadow:0 5px 15px rgba(0,0,0,.15);

}



.card:hover {

    transform:translateY(-5px);

}



.card img {

    width:100%;

    height:280px;

    object-fit:contain;

}



.card h3 {

    font-size:22px;

}



/* DROPDOWNS */

select {

    width:90%;

    padding:10px;

    margin:8px;

    border-radius:6px;

}



/* PLAYER NAME INPUT */

input {

    width:85%;

    padding:10px;

    margin:8px;

    border-radius:6px;

    border:1px solid #ccc;

}



/* CART */

#cart {

    text-align:center;

    font-size:30px;

    margin-top:40px;

}



#cartItems {

    background:white;

    margin:20px auto;

    padding:20px;

    width:70%;

    border-radius:10px;

    min-height:50px;

}



/* MOBILE PHONE DESIGN */

@media(max-width:700px){

    .products{

        flex-direction:column;

        align-items:center;

    }


    .card{

        width:85%;

    }


    .hero h2{

        font-size:35px;

    }


    nav a{

        display:block;

        margin:10px;

    }

}.out-stock {

color:red;

font-size:22px;

font-weight:bold;

}
